# WordPress
public/wp/*
public/*.log
public/.htaccess
public/sitemap.xml
public/sitemap.xml.gz
public/wp-content/advanced-cache.php
public/wp-content/backup-db/
public/wp-content/backups/
public/wp-content/blogs.dir/
public/wp-content/cache/
public/wp-content/mu-plugins/*
!public/wp-content/mu-plugins/index.php
public/wp-content/plugins/*
!public/wp-content/plugins/index.php
public/wp-content/upgrade/
public/wp-content/uploads/
!public/wp-content/uploads/index.php
public/wp-content/wp-cache-config.php

# Dotenv
.env
.env.*
!.env.example

# OSX
.DS_Store

# IDE
.idea

# Vendor (e.g. Composer)
vendor/*
composer.lock